html {
    height: 100%;
}

body {
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

body > div {
    grid-row: 1;
}

body > textarea {
    grid-row: 2;
    height: 100%;
    width: 100%;
}